@charset "UTF-8";

@font-face {
    font-family: Pixel;
    src: url(Fontes/Pokemon_GB.ttf);
}

@media screen and (max-width: 600px) {
    #menu {
        text-align: center;
        padding: 10px 5px 10px 5px;
    }
    #menu a {
        font-size: 16px;
        padding: 12px 8px 10px 8px;
        border-radius: 15px 15px 0px 0px;
    }
    #menu>a::before {
        content: ' ';
    }
    header {
        flex-direction: column;
    }
    #intro {
        width: 300px;
    }
    #intro h1 {
        font-size: 20px;
        text-align: center;
    }
    #p-dois {
        flex-direction: column;
    }
    #sobremim {
        max-width: 80px;
        max-height: 400px;
        padding: 5px;
        font-size: 18px;
    }
    #trajetoria>ul {
        font-size: 18px;
        line-height: 1;
    }
    #p-quatro-alinhamento {
        flex-direction: column;
    }
    #prox-projetos {
        flex-direction: column;
    }
    #prox-projetos>div {
        max-width:240px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    #menu {
        text-align: center;
        padding: 10px 5px 10px 5px;
    }
    #menu a {
        font-size: 18px;
        padding: 12px 10px 10px 10px;
        border-radius: 15px 15px 0px 0px;
    }
    #intro {
        width: 200px;
        height: 260px;
    }
    #intro h1 {
        font-size: 24px;
    }
    #avatar {
        width: 300px;
    }
    #sobremim {
        max-height: 500px;
    }
    #prox-projetos {
        flex-direction: column;
    }
}

/*VARIÁVEIS*/
:root {
    --fonte-padrão: 'Courier New', Courier, monospace;
    --fonte-pixel: 'Pixel', 'Courier New', Courier, monospace;
    --cinza0: rgba(128, 128, 128, 0.147);
    --cinza1: rgba(128, 128, 128, 0.582);
    --cinza2: rgba(128, 128, 128);
    --verde0: rgba(239,251,251,1);
    --verde1: rgba(196,234,234,1);
    --verde2: rgba(146, 207, 207);
    --verde2t:rgba(146, 207, 207, 0.778);
    --verde3: rgba( 96,170,170,1) ;
    --verde4: rgba( 59,139,139,1);
}
* {
    margin: 0px;
    padding: 0px;
}

/*CORPO*/
body {
    font-family: var(--fonte-padrão);
    background-color: white;
    /*background-image: url(#);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    /* For browsers that do not support gradients */
    /*background em desenvolvimento*/
}

/* MENU DE NAVEGAÇÃO*/
nav {
    padding: 20px 20px 0px 20px;
    border-bottom: 2px solid var(--cinza0);
}

nav>a {
    display: inline-block;
    margin: 0px -15px 0px 0px;
    border-radius: 30px 30px 0px 0px;
    padding: 15px 20px 15px 20px;
    color: black;
    font-size: 20px;
    font-weight: medium;
    text-decoration: none;
    transition-duration: 0.5s;
}

#curriculo {
    #
}

#menu1 {
    background-color: var(--verde3);
}

#menu2 {
    background-color: var(--verde2);
}

#menu3 {
    background-color: var(--verde1);
}

#menu4 {
    background-color: var(--verde0);
}

nav>a::before {
    content: '\007C\00A0\00A0';
}

nav>a:hover {
    font-weight: bold;
}

/*CABEÇALHO/ PÁGINA 1*/
header {
    /*min-height: 550px;*/
    max-height: fit-content;
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
    padding: 10px;
    background-image: linear-gradient(to right, var(--cinza1), transparent);
}

#intro {
    display: inline-block;
    background-color: var(--verde2t);
    max-width: 500px;
    max-height: 200px;
    text-align: center;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    border: 2px dashed var(--cinza1);
    font-size: 16px;
    line-height: 1.5;
}

#avatar {
    display: inline-block;
    max-width: 300px;
    margin: auto;
    padding: 30px;
}

#avatar h2 {
    border-left: 2px solid black;
    padding-left: 10px;
    font-size: 16px;
}

#avatar img {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}
#avatar aside {
    text-align: right;
    margin-left: -10px;
    padding-bottom: 15px;
    font-size: 15px;
}

/*PRINCIPAL*/
main {
    max-width: 1200px;
    min-width: 280px;
    /*menores resoluções de smartphones + margem presumida*/
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

main img {
    width: 100%;
}

main .novasessao {
    margin: 30px 0px 30px 0px;
    padding: 20px;
    border: 2px solid black;
    font-size: 22px;
    line-height: 1;
}

.linkexterno {
    padding: 1px 7px 1px 7px;
    text-decoration: none;
    background-color: var(--verde2t);
    color: black;
    border-radius: 20px;
}

.linkexterno:hover {
    font-weight: bold;
}

/*PÁGINA 2*/
#p-dois {
    display: flex;
    justify-content: space-around;
}
#sobremim {
    display: inline-block;
    max-width: 300px;
    padding: 10px;
    border: 20px solid;
    border-image-source: url(Imagens/borda.png);
    border-image-slice: 97;
    font-weight: bold;
}

#sobremim h1 {
    background-color: var(--verde2t);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    margin: -15px -16px 0px -15px;
    font-family: var(--fonte-pixel);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

#sobremim ul {
    margin: auto;
    padding: 10px;
    line-height: 1.2;
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
}
#sobremim ul>li {
    padding-bottom: 20px;
    padding-top: 20px;
}

#trajetoria {
    background-image: linear-gradient(to right, var(--cinza1), transparent);
    display: inline-block;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    text-align: justify;
}

#trajetoria h1 {
    padding: 20px 0px 10px 0px;
    text-indent: 20px;
    border-bottom: 1px solid black;
    font-size: 26px;
}

#trajetoria>ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0'; /*emoji checkbox falha no mobile*/
    padding: 10px;
    line-height: 1.2;
    font-size: 18px;
}

#trajetoria-atual {
    list-style-type: '\23F3\00A0\00A0';
}

#trajetoria>ul>li {
    padding: 15px;
}

/*PÁGINA 3*/

#hab-titulo {
    background-image: linear-gradient(to right, var(--verde2t) , transparent);
    padding: 20px;
    margin: -20px -20px 20px -20px;
    font-family: var(--fonte-pixel);
    font-size: 24px;
    text-align: center;
}

#hab-principais {
    display: inline-block;
    border-right: 1px solid black;
}

#hab-principais h2 {
    display: inline-block;
    padding: 10px 50px;
    max-width: 100px;
    line-height: 1.5;
    font-size: 26px;
}

#hab-principais p {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    max-width: 600px;
    transition-duration: 1s;
    font-size: 18px;
    line-height: 1.1;
}

.destaque:hover>p {
    background-color: var(--verde3);
}

#softskills {
    display: inline-block;
    max-width: 300px;
    /*border: 2px solid;*/
    border-radius: 10px 10px 0px 0px;
}

#softskills h1 {
    padding: 10px;
    background-color: var(--verde2t);
    border-radius: 10px 10px 0px 0px;
}

#softskills>ul {
    list-style: none;
    padding: 10px;
    line-height: 1.2;
}
#softskills li {
    padding: 10px;
}

/*PÁGINA 4*/
#persp-titulo {
    background-image: linear-gradient(to right, var(--verde2t), transparent);
    padding: 20px;
    line-height: 1.4;
    margin: -20px -20px 0px -20px;
    font-family: var(--fonte-pixel);
    font-size: 26px;
    text-align: center;
}

#p-quatro h3 { /*está afetando o #curiosidade h2, arrumar*/
    padding: 5px;
    margin: 0px -20px 10px -20px;
}

#p-quatro-alinhamento {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px;
    /*border-image-source: url(Imagens/borda.png);
    border-image-slice: 97;*/
    background-image: linear-gradient(to top, var(--verde1), transparent);
}

#andamento {
    display: inline-block;
    max-width: 600px;
}

#andamento h1 {
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-pixel);
    font-size: 20px;
}

#andamento>ul {
    list-style: none;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
}

#perspectivas {
    max-width: 600px;
    display: inline-block;
}

#perspectivas h1 {
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-pixel);
    font-size: 20px;
}

#perspectivas>ul {
    list-style: none;
    padding: 10px;
    line-height: 1.5;
    text-align: center;

}

#curiosidade {
    display: inline-block;
    padding: 30px;
    margin: 20px 0px 20px 0px;
    border-radius: 0px 20px 0px 40px;
    outline: 2px solid black;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.551);
}

#curiosidade h1 {
    background-color: var(--verde2t);
    padding: 15px;
    border-radius: 0px 20px 0px 0px;
    margin: -30px -30px 0px -30px;
    font-family: var(--fonte-pixel);
    font-size: 20px;
    text-indent: 20px;
}

#curiosidade p {
    padding: 15px;
    font-size: 16px;
}

/*PÁGINA 5*/
#proj-titulo {
    background-image: linear-gradient(to right, var(--verde2t), transparent);
    padding: 20px;
    line-height: 1.4;
    margin: -20px -20px 0px -20px;
    font-family: var(--fonte-pixel);
    font-size: 26px;
    text-align: center;
}

#p-cinco h2 {
    padding: 5px;
    margin: 0px -20px 10px -20px;
}

#prox-projetos {
    display: flex;
    justify-content: space-around;
}

#prox-projetos>div {
    position: relative;
    display: inline-block;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom right, var(--verde1), transparent);
    width: 300px;
    height: 250px;
}

#prox-projetos>div:hover {
    letter-spacing: 3px;
    transition-duration: 1.1s;
}

#prox-projetos h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    margin: -25px 0 0 -25px; 
    padding: 10px;
    font-size: normal;
}

/*BOTÃO INÍCIO*/
#inicio-botao {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    width: 70px;
    opacity: 30%;
    margin-top: 250px;
    margin-right: 20px;
}

/*RODAPÉ*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}