@charset "UTF-8";

@font-face {
    font-family: Pixel;
    src: url(Fontes/Pokemon_GB.ttf);
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
    #intro {
        width: 300px;
    }
    #intro h1 {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    #intro {
        width: 200px;
        height: 260px;
    }
    #intro h1 {
        font-size: 24px;
    }
    #avatar {
        width: 300px;
    }
}

/*VARIÁVEIS*/
:root {
    --fonte-padrão: 'Courier New', Courier, monospace;
    --fonte-pixel: 'Pixel', 'Courier New', Courier, monospace;
    --cinza0: rgba(128, 128, 128, 0.147);
    --cinza1: rgba(128, 128, 128, 0.582);
    --cinza2: rgba(128, 128, 128);
    --verde0: rgba(239,251,251,1);
    --verde1: rgba(196,234,234,1);
    --verde2: rgba(146, 207, 207);
    --verde2t:rgba(146, 207, 207, 0.778);
    --verde3: rgba( 96,170,170,1) ;
    --verde4: rgba( 59,139,139,1);
}
* {
    margin: 0px;
    padding: 0px;
}

/*CORPO*/
body {
    font-family: var(--fonte-padrão);
    background-color: white;
    /* For browsers that do not support gradients */
    /*background em desenvolvimento*/
}

/* MENU DE NAVEGAÇÃO*/
nav {
    padding: 20px 20px 0px 20px;
    border-bottom: 2px solid var(--cinza0);

}

nav>a {
    display: inline-block;
    margin: 0px -15px 0px 0px;
    border-radius: 30px 30px 0px 0px;
    padding: 15px 20px 15px 20px;
    color: black;
    font-size: 20px;
    font-weight: medium;
    text-decoration: none;
    transition-duration: 0.5s;
}

#menu1 {
    background-color: var(--verde3);
}

#menu2 {
    background-color: var(--verde2);
}

#menu3 {
    background-color: var(--verde1);
}

#menu4 {
    background-color: var(--verde0);
}

nav>a::before {
    content: '\007C\00A0\00A0';
}

nav>a:hover {
    font-weight: bold;
}

/*CABEÇALHO/ PÁGINA 1*/
header {
    min-height: 550px;
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
    padding: 10px;
    background-image: linear-gradient(to right, var(--cinza1), transparent);
}

#intro {
    display: inline-block;
    background-color: var(--verde2t);
    max-width: 500px;
    max-height: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    border: 2px dashed var(--cinza1);
    font-size: 22px;
    line-height: 1.5;
}

#avatar {
    display: inline-block;
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

#avatar h2 {
    border-left: 2px solid black;
    padding-left: 10px;
}

#avatar img {
    width: 100%;
    border-radius: 10px;
}
#avatar aside {
    margin-left: -10px;
    padding: 5px;
}

/*PRINCIPAL*/
main {
    max-width: 1200px;
    min-width: 280px;
    /*menores resoluções de smartphones + margem presumida*/
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

main img {
    width: 100%;
}

main .novasessao {
    margin: 30px 0px 30px 0px;
    padding: 20px;
    border: 2px solid black;
    font-size: 22px;
    line-height: 1;
}

.linkexterno {
    padding: 1px 7px 1px 7px;
    text-decoration: none;
    background-color: var(--verde2t);
    color: black;
    border-radius: 20px;
}

.linkexterno:hover {
    font-weight: bold;
}

/*PÁGINA 2*/
#sobremim {
    display: block;
    padding: 10px;
    border: 20px solid;
    border-image-source: url(Imagens/borda.png);
    border-image-slice: 97;
    font-weight: bold;
}

#sobremim h1 {
    background-color: var(--verde2t);
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
    margin: -15px -16px 0px -15px;
    font-family: var(--fonte-pixel);
    font-size: 22px;
    text-align: center;
}

#sobremim ul {
    padding: 10px;
    line-height: 1.5;
    list-style-position: inside;
    list-style-type: square;
    text-indent: 10px;
}

#trajetoria {
    background-image: linear-gradient(to right, var(--cinza1), transparent);
    display: block;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    text-align: justify;
}

#trajetoria h1 {
    padding: 20px 0px 10px 0px;
    text-indent: 20px;
    border-bottom: 1px solid black;
}

#trajetoria>ul {
    list-style-position: inside;
    list-style-type: '\1F5F9\00A0\00A0'; /*emoji checkbox falha no mobile*/
    padding: 10px;
    line-height: 1.2;
}

#trajetoria-atual {
    list-style-type: '\23F3\00A0\00A0';
}

#trajetoria>ul>li {
    padding: 10px;
}

/*PÁGINA 3*/
#hab-titulo {
    background-image: linear-gradient(to right, var(--verde2t) , transparent);
    padding: 20px;
    margin: -20px -20px 20px -20px;
    font-family: var(--fonte-pixel);
    font-size: 26px;
    text-align: center;
}

#hab-principais h2 {
    display: inline-block;
    padding: 10px;
    padding-right: 50px;
    margin-bottom: 20px;
    max-width: 100px;
    line-height: 1.5;
}

#hab-principais p {
    display: inline-block;
    padding: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 800px;
    transition-duration: 1s;
    font-size: 20px;
    line-height: 1.1;
}

.destaque:hover>p {
    background-color: var(--verde3);
}

#hab-blocos { /*Como organizar? adicionar mais um bloco? Muito texto?*/
    display: flex;
    justify-content: center;
}

#softskills {
    display: inline-block;
    max-width: 300px;
    border: 2px solid;
    border-radius: 10px 10px 0px 0px;
    margin: 10px;
}

#softskills h1 {
    background-color: var(--verde2t);
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

#softskills>ul {
    list-style: none;
    padding: 10px;
}

#andamento {
    display: inline-block;
    max-width: 300px;
    border: 2px solid;
    border-radius: 10px 10px 0px 0px;
    margin: 10px;
}

#andamento h1 {
    padding: 10px;
    background-color: var(--verde2t);
    border-radius: 10px 10px 0px 0px;
}

#andamento>ul {
    list-style: none;
    padding: 10px;
}

/*PÁGINA 4*/
#perspectivas {
    display: inline-block;
}

#perspectivas>ul {
    list-style-position: inside;
}

#curiosidade {
    display: inline-block;
    padding: 30px;
    margin: 20px 0px 20px 0px;
    border-radius: 0px 20px 0px 40px;
    outline: 2px solid black;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.551);
}

#curiosidade h1 {
    background-color: var(--verde2t);
    padding: 15px;
    border-radius: 0px 20px 0px 0px;
    margin: -30px -30px 0px -30px;
    font-family: var(--fonte-pixel);
    font-size: 20px;
    text-indent: 20px;
}

#curiosidade h2 {
    padding: 15px;
    font-size: 18px;
}

#curiosidade p {
    padding: 15px;
    font-size: 16px;
}

/*RODAPÉ*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}